.quote-box{
    width: 900px;
    min-height: 450px;
    background-color: #fefefe;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-box .quote-icon{
    position: absolute;
    left: 50%;
    top: 0;
    height: 130px;
    width: 130px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #00bfb2;
    background-image: linear-gradient(315deg, #00bfb2 0%, #028090 74%);
    display: grid;
    place-items: center;

}

.quote-box .quote-icon i{
    font-size: 4rem;
    color: #fefefe;
}

.quote-box p{
    font-size: 2.5rem;
    padding: 0 20px;
    text-align: center;
    margin-bottom: 20px;
}

.quote-box i{
    font-size: 2rem;
    color: #028090;
}

.quote-box button.regenerate{
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #028090;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
}